In [1]:
import pandas as pd
import calendar
import numpy as np

<h3>File selection - run either Training file or Test file</h3>

In [51]:
filetype1 = 'train.csv'
filetype2 = 'test.csv'

<h3>Training file</h3>

In [52]:
train = pd.read_csv("data/train.csv")
train.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [53]:
print(train["Upc"].nunique())
print(train["FinelineNumber"].nunique())
print(list(train["Upc"].value_counts())[:200])
print("####")
print(list(train["FinelineNumber"].value_counts())[:200])

97714
5195
[7657, 2501, 2067, 1883, 1652, 1515, 1487, 1405, 1370, 1343, 1018, 973, 953, 896, 856, 828, 815, 778, 778, 750, 745, 719, 698, 697, 686, 644, 622, 620, 618, 561, 560, 528, 526, 525, 515, 510, 502, 500, 495, 494, 486, 482, 455, 454, 435, 433, 427, 426, 425, 425, 425, 419, 419, 418, 413, 408, 407, 406, 405, 402, 400, 398, 398, 396, 396, 395, 384, 381, 381, 378, 376, 372, 370, 365, 364, 363, 360, 360, 357, 357, 356, 345, 343, 343, 338, 332, 328, 326, 324, 323, 316, 313, 311, 311, 309, 308, 304, 302, 301, 301, 293, 290, 285, 284, 283, 282, 279, 279, 279, 270, 268, 267, 266, 265, 263, 262, 259, 259, 259, 258, 251, 251, 245, 241, 241, 240, 238, 237, 236, 235, 235, 235, 233, 232, 232, 231, 230, 229, 229, 228, 227, 227, 226, 223, 223, 223, 222, 221, 221, 220, 220, 220, 219, 219, 218, 217, 217, 216, 215, 214, 214, 213, 213, 210, 208, 208, 206, 204, 203, 202, 202, 202, 200, 199, 199, 198, 198, 197, 197, 196, 196, 196, 195, 194, 193, 192, 191, 191, 190, 190, 189, 189, 189, 187, 187, 186, 185, 185, 184, 184]
####
[8244, 5121, 4538, 4401, 3837, 2997, 2848, 2753, 2723, 2639, 2634, 2607, 2531, 2465, 2455, 2237, 2074, 2056, 2037, 1980, 1946, 1935, 1896, 1895, 1885, 1834, 1751, 1749, 1721, 1655, 1640, 1621, 1566, 1548, 1521, 1484, 1464, 1459, 1454, 1438, 1429, 1422, 1400, 1395, 1371, 1363, 1356, 1346, 1345, 1342, 1341, 1340, 1336, 1307, 1303, 1298, 1298, 1290, 1281, 1279, 1274, 1273, 1270, 1263, 1256, 1233, 1218, 1206, 1200, 1194, 1189, 1170, 1169, 1161, 1158, 1121, 1120, 1119, 1106, 1103, 1092, 1080, 1076, 1071, 1067, 1062, 1053, 1043, 1026, 1025, 1016, 1004, 1001, 997, 995, 992, 987, 986, 985, 975, 972, 970, 966, 952, 945, 944, 943, 933, 924, 919, 901, 897, 890, 884, 883, 881, 869, 861, 860, 858, 856, 854, 854, 852, 848, 840, 839, 837, 836, 835, 834, 833, 830, 827, 826, 825, 810, 808, 800, 799, 798, 797, 792, 784, 781, 778, 777, 776, 776, 774, 771, 767, 764, 761, 760, 758, 757, 755, 748, 747, 747, 739, 739, 738, 738, 737, 727, 721, 718, 715, 713, 711, 703, 702, 695, 693, 690, 689, 686, 683, 680, 679, 679, 678, 676, 671, 670, 667, 666, 666, 666, 664, 659, 658, 654, 654, 651, 647, 647, 636]

In [54]:
fname = 'data/'+filetype1
processed_fname = 'data/processed_data/processed_'+filetype1
print(fname, processed_fname)
df = pd.read_csv(fname)
df.head()
df_groups_train = df.groupby(df['DepartmentDescription']).groups
df_groups_train.keys();
freq_upc = df['Upc'].value_counts().keys()[:200]
freq_upc_features = ["UPC_"+str(upc) for upc in freq_upc]
freq_upc_features.extend(["INDICATOR_UPC_"+str(upc) for upc in freq_upc])
freq_upc_features;
freq_fineline = df['FinelineNumber'].value_counts().keys()[:200]
freq_fineline_features = ["FL_"+str(fl) for fl in freq_fineline]
freq_fineline_features.extend(["INDICATOR_FL_"+str(fl) for fl in freq_fineline]) 
freq_fineline_features;

data/train.csv data/processed_data/processed_train.csv

<h3>Test file</h3>

In [98]:
fname = 'data/'+filetype2
processed_fname = 'data/processed_data/processed_'+filetype2
print(fname, processed_fname)

data/test.csv data/processed_data/processed_test.csv

<h3>Data Processing</h3>

In [99]:
df = pd.read_csv(fname)
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,1,Friday,7.250339e+10,1,SHOES,3002.0
1,1,Friday,1.707711e+09,1,DAIRY,1526.0
2,1,Friday,8.947000e+10,1,DAIRY,1431.0
3,1,Friday,8.849121e+10,1,GROCERY DRY GOODS,3555.0
4,2,Friday,2.840015e+09,1,DSD GROCERY,4408.0

In [100]:
df.count()

VisitNumber              653646
Weekday                  653646
Upc                      649660
ScanCount                653646
DepartmentDescription    652318
FinelineNumber           649660
dtype: int64

<h3>Drop NA values</h3>

In [101]:
df = df.fillna(method="ffill")
df.count()

VisitNumber              653646
Weekday                  653646
Upc                      653646
ScanCount                653646
DepartmentDescription    653646
FinelineNumber           653646
dtype: int64

In [102]:
print(df['DepartmentDescription'].nunique())
#print(df['TripType'].nunique())
print(df['FinelineNumber'].groupby(df['DepartmentDescription']).nunique())

67
DepartmentDescription
1-HR PHOTO                     13
ACCESSORIES                    88
AUTOMOTIVE                    256
BAKERY                         93
BATH AND SHOWER                81
BEAUTY                        177
BEDDING                       186
BOOKS AND MAGAZINES            73
BOYS WEAR                     179
BRAS & SHAPEWEAR               59
CAMERAS AND SUPPLIES           29
CANDY, TOBACCO, COOKIES        70
CELEBRATION                   172
COMM BREAD                     51
CONCEPT STORES                  1
COOK AND DINE                 307
DAIRY                         108
DSD GROCERY                   362
ELECTRONICS                   163
FABRICS AND CRAFTS            340
FINANCIAL SERVICES             25
FROZEN FOODS                   94
FURNITURE                      32
GIRLS WEAR, 4-6X  AND 7-14    210
GROCERY DRY GOODS             403
HARDWARE                      324
HOME DECOR                    193
HOME MANAGEMENT               177
HORTICULTURE AND ACCESS       178
HOUSEHOLD CHEMICALS/SUPP      196
                             ...
LARGE HOUSEHOLD GOODS           1
LAWN AND GARDEN               258
LIQUOR,WINE,BEER               50
MEAT - FRESH & FROZEN         160
MEDIA AND GAMING               64
MENS WEAR                     396
MENSWEAR                       60
OFFICE SUPPLIES               288
OPTICAL - FRAMES              130
OPTICAL - LENSES                3
OTHER DEPARTMENTS               3
PAINT AND ACCESSORIES         124
PERSONAL CARE                 305
PETS AND SUPPLIES             213
PHARMACY OTC                  462
PHARMACY RX                   966
PLAYERS AND ELECTRONICS        40
PLUS AND MATERNITY             59
PRE PACKED DELI                45
PRODUCE                       499
SEAFOOD                        39
SEASONAL                       14
SERVICE DELI                   81
SHEER HOSIERY                  24
SHOES                         464
SLEEPWEAR/FOUNDATIONS         117
SPORTING GOODS                355
SWIMWEAR/OUTERWEAR             32
TOYS                          275
WIRELESS                      111
Name: FinelineNumber, Length: 67, dtype: int64

<h3>Add new feature FLCount corresponding to number of refined categories (FinelineNumbers) for each DepartmentDescription</h3>

In [103]:
df2 = pd.DataFrame(df['FinelineNumber'].groupby(df['DepartmentDescription']).nunique())
df2 = df2.rename(columns={'FinelineNumber': "FLCount"})
df2.head()

                       FLCount
DepartmentDescription
1-HR PHOTO                  13
ACCESSORIES                 88
AUTOMOTIVE                 256
BAKERY                      93
BATH AND SHOWER             81

In [104]:
df = df.join(df2, on='DepartmentDescription')
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount
0,1,Friday,7.250339e+10,1,SHOES,3002.0,464
1,1,Friday,1.707711e+09,1,DAIRY,1526.0,108
2,1,Friday,8.947000e+10,1,DAIRY,1431.0,108
3,1,Friday,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403
4,2,Friday,2.840015e+09,1,DSD GROCERY,4408.0,362

<h3>Add new feature VisitFLCount corresponding to number of refined categories (FinelineNumbers) for each VisitNumber</h3>

In [105]:
df2 = pd.DataFrame(df['FinelineNumber'].groupby(df['VisitNumber']).nunique())
df2 = df2.rename(columns={'FinelineNumber': "VisitFLCount"})
df2.head()

             VisitFLCount
VisitNumber
1                       4
2                       3
3                       1
4                       1
6                       1

In [106]:
df = df.join(df2, on='VisitNumber')
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount
0,1,Friday,7.250339e+10,1,SHOES,3002.0,464,4
1,1,Friday,1.707711e+09,1,DAIRY,1526.0,108,4
2,1,Friday,8.947000e+10,1,DAIRY,1431.0,108,4
3,1,Friday,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4
4,2,Friday,2.840015e+09,1,DSD GROCERY,4408.0,362,3

<h3>Scalar encode weekday names for numerical feature</h3>

In [107]:
def encode_day_names(days):
    day_to_num = dict(zip(list(calendar.day_name), range(0, 7)))
    return [day_to_num[day] for day in days]

In [108]:
df['Weekday'] = encode_day_names(df['Weekday'])
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount
0,1,4,7.250339e+10,1,SHOES,3002.0,464,4
1,1,4,1.707711e+09,1,DAIRY,1526.0,108,4
2,1,4,8.947000e+10,1,DAIRY,1431.0,108,4
3,1,4,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4
4,2,4,2.840015e+09,1,DSD GROCERY,4408.0,362,3

<h3>Add features corresponding to number of returns and number of purchases for a particular DepartmentDescription</h3>

In [109]:
df_groups = df.groupby(df['DepartmentDescription']).groups
data = []
for dept_desc, ids in df_groups.items():
    #print(dept_desc)
    returns = 0
    purchases = 0
    for idx in ids:
        if df.loc[idx]['ScanCount'] < 0:
            returns += df.loc[idx]['ScanCount']
        else:
            purchases += df.loc[idx]['ScanCount']
    data.append({"DepartmentDescription":dept_desc, "NumReturns":returns, "NumPurchases":purchases})

In [110]:
df2 = pd.DataFrame(data)
df2['NumReturns'] = abs(df2['NumReturns'])
df2.head()

  DepartmentDescription  NumPurchases  NumReturns
0            1-HR PHOTO           500          40
1           ACCESSORIES          1427          91
2            AUTOMOTIVE          5932         388
3                BAKERY          8351         113
4       BATH AND SHOWER          5142         202

In [111]:
df = df.merge(df2, how='left')
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount,NumPurchases,NumReturns
0,1,4,7.250339e+10,1,SHOES,3002.0,464,4,6131,292
1,1,4,1.707711e+09,1,DAIRY,1526.0,108,4,52272,415
2,1,4,8.947000e+10,1,DAIRY,1431.0,108,4,52272,415
3,1,4,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4,92757,874
4,2,4,2.840015e+09,1,DSD GROCERY,4408.0,362,3,81199,848

<h3>Add features corresponding to number of returns and number of purchases for a particular VisitNumber</h3>

In [112]:
df_groups = df.groupby(df['VisitNumber']).groups
len(df_groups.keys())

95674

In [113]:
df_groups

{1: Int64Index([0, 1, 2, 3], dtype='int64'),
 2: Int64Index([4, 5, 6, 7], dtype='int64'),
 3: Int64Index([8, 9], dtype='int64'),
 4: Int64Index([10], dtype='int64'),
 6: Int64Index([11, 12], dtype='int64'),
 13: Int64Index([13, 14], dtype='int64'),
 14: Int64Index([15, 16, 17, 18, 19, 20, 21, 22, 23, 24], dtype='int64'),
 16: Int64Index([25, 26, 27, 28, 29, 30, 31, 32], dtype='int64'),
 18: Int64Index([33, 34, 35, 36, 37, 38, 39], dtype='int64'),
 21: Int64Index([40, 41, 42, 43, 44, 45, 46], dtype='int64'),
 22: Int64Index([47], dtype='int64'),
 24: Int64Index([48], dtype='int64'),
 27: Int64Index([49, 50, 51, 52, 53, 54, 55, 56], dtype='int64'),
 34: Int64Index([57, 58], dtype='int64'),
 35: Int64Index([59], dtype='int64'),
 36: Int64Index([60, 61], dtype='int64'),
 37: Int64Index([62, 63, 64], dtype='int64'),
 38: Int64Index([65], dtype='int64'),
 39: Int64Index([66, 67], dtype='int64'),
 44: Int64Index([68], dtype='int64'),
 46: Int64Index([69, 70], dtype='int64'),
 48: Int64Index([71, 72, 73, 74, 75], dtype='int64'),
 52: Int64Index([76, 77], dtype='int64'),
 58: Int64Index([78], dtype='int64'),
 59: Int64Index([79, 80, 81, 82, 83, 84, 85, 86], dtype='int64'),
 60: Int64Index([87, 88, 89], dtype='int64'),
 62: Int64Index([90], dtype='int64'),
 64: Int64Index([91], dtype='int64'),
 65: Int64Index([92, 93], dtype='int64'),
 66: Int64Index([ 94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106,
             107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119,
             120, 121],
            dtype='int64'),
 67: Int64Index([122], dtype='int64'),
 70: Int64Index([123, 124, 125, 126], dtype='int64'),
 71: Int64Index([127, 128, 129], dtype='int64'),
 73: Int64Index([130], dtype='int64'),
 75: Int64Index([131], dtype='int64'),
 77: Int64Index([132, 133, 134, 135, 136, 137, 138], dtype='int64'),
 78: Int64Index([139, 140, 141, 142], dtype='int64'),
 80: Int64Index([143, 144, 145], dtype='int64'),
 82: Int64Index([146, 147], dtype='int64'),
 88: Int64Index([148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158], dtype='int64'),
 89: Int64Index([159, 160, 161], dtype='int64'),
 90: Int64Index([162], dtype='int64'),
 94: Int64Index([163, 164, 165], dtype='int64'),
 96: Int64Index([166, 167], dtype='int64'),
 101: Int64Index([168, 169, 170, 171, 172], dtype='int64'),
 104: Int64Index([173], dtype='int64'),
 108: Int64Index([174, 175, 176, 177, 178, 179, 180, 181, 182], dtype='int64'),
 109: Int64Index([183, 184, 185, 186], dtype='int64'),
 111: Int64Index([187, 188], dtype='int64'),
 112: Int64Index([189, 190], dtype='int64'),
 113: Int64Index([191, 192], dtype='int64'),
 114: Int64Index([193], dtype='int64'),
 115: Int64Index([194, 195], dtype='int64'),
 116: Int64Index([196, 197, 198, 199, 200, 201, 202, 203], dtype='int64'),
 118: Int64Index([204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
             217, 218, 219, 220],
            dtype='int64'),
 119: Int64Index([221, 222], dtype='int64'),
 120: Int64Index([223, 224, 225, 226, 227], dtype='int64'),
 122: Int64Index([228, 229, 230], dtype='int64'),
 126: Int64Index([231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243], dtype='int64'),
 127: Int64Index([244], dtype='int64'),
 128: Int64Index([245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257,
             258, 259, 260, 261, 262, 263],
            dtype='int64'),
 129: Int64Index([264], dtype='int64'),
 131: Int64Index([265], dtype='int64'),
 135: Int64Index([266], dtype='int64'),
 136: Int64Index([267, 268], dtype='int64'),
 141: Int64Index([269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281,
             282, 283, 284, 285],
            dtype='int64'),
 142: Int64Index([286, 287, 288, 289, 290, 291, 292], dtype='int64'),
 143: Int64Index([293], dtype='int64'),
 144: Int64Index([294, 295], dtype='int64'),
 147: Int64Index([296, 297, 298, 299], dtype='int64'),
 148: Int64Index([300, 301], dtype='int64'),
 149: Int64Index([302, 303], dtype='int64'),
 150: Int64Index([304, 305, 306, 307], dtype='int64'),
 151: Int64Index([308, 309, 310, 311, 312, 313, 314, 315], dtype='int64'),
 156: Int64Index([316], dtype='int64'),
 157: Int64Index([317], dtype='int64'),
 158: Int64Index([318, 319], dtype='int64'),
 159: Int64Index([320], dtype='int64'),
 160: Int64Index([321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333,
             334, 335],
            dtype='int64'),
 161: Int64Index([336, 337, 338, 339, 340], dtype='int64'),
 163: Int64Index([341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353], dtype='int64'),
 165: Int64Index([354], dtype='int64'),
 166: Int64Index([355], dtype='int64'),
 167: Int64Index([356], dtype='int64'),
 168: Int64Index([357, 358, 359, 360, 361, 362, 363, 364, 365], dtype='int64'),
 169: Int64Index([366, 367, 368, 369, 370], dtype='int64'),
 170: Int64Index([371, 372, 373, 374, 375, 376, 377], dtype='int64'),
 171: Int64Index([378, 379, 380, 381, 382, 383], dtype='int64'),
 172: Int64Index([384, 385, 386, 387, 388, 389, 390, 391, 392], dtype='int64'),
 173: Int64Index([393, 394, 395], dtype='int64'),
 174: Int64Index([396], dtype='int64'),
 175: Int64Index([397, 398, 399, 400, 401, 402, 403, 404], dtype='int64'),
 176: Int64Index([405, 406, 407, 408, 409, 410], dtype='int64'),
 178: Int64Index([411, 412], dtype='int64'),
 180: Int64Index([413, 414], dtype='int64'),
 183: Int64Index([415, 416, 417, 418], dtype='int64'),
 184: Int64Index([419, 420], dtype='int64'),
 186: Int64Index([421, 422], dtype='int64'),
 187: Int64Index([423], dtype='int64'),
 191: Int64Index([424, 425], dtype='int64'),
 192: Int64Index([426, 427, 428, 429, 430, 431, 432], dtype='int64'),
 193: Int64Index([433, 434, 435, 436, 437, 438, 439, 440, 441, 442], dtype='int64'),
 196: Int64Index([443, 444, 445, 446, 447, 448, 449], dtype='int64'),
 197: Int64Index([450, 451], dtype='int64'),
 198: Int64Index([452, 453], dtype='int64'),
 200: Int64Index([454, 455], dtype='int64'),
 201: Int64Index([456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467], dtype='int64'),
 202: Int64Index([468, 469, 470, 471, 472, 473], dtype='int64'),
 204: Int64Index([474], dtype='int64'),
 206: Int64Index([475], dtype='int64'),
 208: Int64Index([476], dtype='int64'),
 212: Int64Index([477, 478, 479, 480, 481], dtype='int64'),
 213: Int64Index([482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
             495, 496, 497, 498],
            dtype='int64'),
 215: Int64Index([499, 500, 501, 502, 503, 504, 505], dtype='int64'),
 222: Int64Index([506, 507, 508, 509, 510], dtype='int64'),
 226: Int64Index([511, 512], dtype='int64'),
 227: Int64Index([513], dtype='int64'),
 230: Int64Index([514, 515, 516, 517, 518, 519], dtype='int64'),
 231: Int64Index([520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
             533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
             546, 547, 548],
            dtype='int64'),
 233: Int64Index([549, 550], dtype='int64'),
 234: Int64Index([551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563,
             564, 565, 566, 567, 568, 569, 570, 571, 572, 573],
            dtype='int64'),
 237: Int64Index([574, 575, 576, 577, 578, 579], dtype='int64'),
 240: Int64Index([580, 581, 582], dtype='int64'),
 242: Int64Index([583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595,
             596],
            dtype='int64'),
 243: Int64Index([597, 598, 599, 600, 601, 602], dtype='int64'),
 244: Int64Index([603, 604, 605, 606, 607, 608, 609], dtype='int64'),
 246: Int64Index([610], dtype='int64'),
 247: Int64Index([611, 612], dtype='int64'),
 249: Int64Index([613, 614, 615, 616], dtype='int64'),
 250: Int64Index([617, 618, 619, 620], dtype='int64'),
 254: Int64Index([621], dtype='int64'),
 258: Int64Index([622, 623], dtype='int64'),
 260: Int64Index([624, 625, 626, 627, 628], dtype='int64'),
 262: Int64Index([629, 630, 631], dtype='int64'),
 264: Int64Index([632, 633], dtype='int64'),
 266: Int64Index([634, 635, 636, 637, 638, 639], dtype='int64'),
 268: Int64Index([640], dtype='int64'),
 269: Int64Index([641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651], dtype='int64'),
 270: Int64Index([652, 653, 654], dtype='int64'),
 271: Int64Index([655, 656, 657, 658, 659], dtype='int64'),
 272: Int64Index([660], dtype='int64'),
 273: Int64Index([661], dtype='int64'),
 276: Int64Index([662], dtype='int64'),
 280: Int64Index([663], dtype='int64'),
 282: Int64Index([664, 665], dtype='int64'),
 293: Int64Index([666, 667, 668, 669, 670, 671, 672, 673], dtype='int64'),
 294: Int64Index([674], dtype='int64'),
 296: Int64Index([675, 676], dtype='int64'),
 297: Int64Index([677, 678], dtype='int64'),
 299: Int64Index([679, 680, 681], dtype='int64'),
 300: Int64Index([682, 683, 684, 685, 686, 687, 688, 689, 690, 691], dtype='int64'),
 301: Int64Index([692], dtype='int64'),
 303: Int64Index([693, 694], dtype='int64'),
 304: Int64Index([695, 696, 697, 698, 699, 700, 701], dtype='int64'),
 305: Int64Index([702, 703, 704, 705, 706], dtype='int64'),
 306: Int64Index([707, 708], dtype='int64'),
 307: Int64Index([709, 710], dtype='int64'),
 311: Int64Index([711], dtype='int64'),
 318: Int64Index([712, 713, 714], dtype='int64'),
 319: Int64Index([715, 716], dtype='int64'),
 320: Int64Index([717, 718], dtype='int64'),
 321: Int64Index([719, 720, 721], dtype='int64'),
 327: Int64Index([722], dtype='int64'),
 329: Int64Index([723], dtype='int64'),
 331: Int64Index([724], dtype='int64'),
 332: Int64Index([725, 726], dtype='int64'),
 336: Int64Index([727], dtype='int64'),
 337: Int64Index([728, 729, 730, 731, 732, 733, 734, 735, 736, 737], dtype='int64'),
 338: Int64Index([738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750,
             751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763],
            dtype='int64'),
 339: Int64Index([764], dtype='int64'),
 340: Int64Index([765, 766, 767, 768, 769, 770, 771, 772], dtype='int64'),
 342: Int64Index([773], dtype='int64'),
 345: Int64Index([774], dtype='int64'),
 352: Int64Index([775, 776, 777, 778, 779, 780, 781, 782, 783], dtype='int64'),
 353: Int64Index([784, 785, 786, 787, 788, 789, 790, 791], dtype='int64'),
 354: Int64Index([792], dtype='int64'),
 355: Int64Index([793, 794, 795], dtype='int64'),
 356: Int64Index([796, 797, 798], dtype='int64'),
 364: Int64Index([799, 800, 801], dtype='int64'),
 365: Int64Index([802, 803], dtype='int64'),
 366: Int64Index([804, 805], dtype='int64'),
 368: Int64Index([806], dtype='int64'),
 370: Int64Index([807, 808, 809, 810, 811, 812, 813, 814], dtype='int64'),
 374: Int64Index([815, 816], dtype='int64'),
 376: Int64Index([817, 818], dtype='int64'),
 380: Int64Index([819], dtype='int64'),
 381: Int64Index([820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831], dtype='int64'),
 391: Int64Index([832], dtype='int64'),
 392: Int64Index([833, 834, 835, 836, 837], dtype='int64'),
 395: Int64Index([838], dtype='int64'),
 401: Int64Index([839], dtype='int64'),
 404: Int64Index([840, 841, 842], dtype='int64'),
 405: Int64Index([843], dtype='int64'),
 406: Int64Index([844, 845, 846], dtype='int64'),
 410: Int64Index([847, 848, 849, 850], dtype='int64'),
 411: Int64Index([851], dtype='int64'),
 414: Int64Index([852, 853, 854], dtype='int64'),
 415: Int64Index([855, 856], dtype='int64'),
 416: Int64Index([857, 858, 859, 860, 861], dtype='int64'),
 417: Int64Index([862, 863, 864], dtype='int64'),
 422: Int64Index([865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877,
             878, 879, 880, 881, 882, 883, 884, 885],
            dtype='int64'),
 423: Int64Index([886], dtype='int64'),
 424: Int64Index([887, 888, 889], dtype='int64'),
 426: Int64Index([890, 891, 892, 893, 894, 895], dtype='int64'),
 428: Int64Index([896, 897], dtype='int64'),
 429: Int64Index([898, 899], dtype='int64'),
 432: Int64Index([900, 901], dtype='int64'),
 434: Int64Index([902, 903], dtype='int64'),
 435: Int64Index([904, 905, 906], dtype='int64'),
 438: Int64Index([907, 908, 909], dtype='int64'),
 439: Int64Index([910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922], dtype='int64'),
 440: Int64Index([923, 924, 925, 926, 927, 928, 929, 930, 931], dtype='int64'),
 441: Int64Index([932, 933, 934], dtype='int64'),
 442: Int64Index([935], dtype='int64'),
 443: Int64Index([936, 937], dtype='int64'),
 444: Int64Index([938, 939, 940, 941, 942, 943, 944], dtype='int64'),
 445: Int64Index([945, 946, 947], dtype='int64'),
 450: Int64Index([948, 949], dtype='int64'),
 451: Int64Index([950, 951, 952, 953, 954, 955, 956, 957, 958, 959], dtype='int64'),
 454: Int64Index([960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972,
             973, 974, 975, 976, 977, 978, 979, 980, 981, 982],
            dtype='int64'),
 455: Int64Index([983], dtype='int64'),
 459: Int64Index([984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994], dtype='int64'),
 463: Int64Index([995, 996], dtype='int64'),
 464: Int64Index([997, 998], dtype='int64'),
 467: Int64Index([ 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009,
             1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020,
             1021, 1022, 1023, 1024, 1025],
            dtype='int64'),
 469: Int64Index([1026, 1027, 1028], dtype='int64'),
 470: Int64Index([1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039,
             1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050,
             1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061,
             1062],
            dtype='int64'),
 471: Int64Index([1063, 1064, 1065, 1066, 1067, 1068], dtype='int64'),
 477: Int64Index([1069, 1070, 1071, 1072, 1073, 1074], dtype='int64'),
 478: Int64Index([1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085,
             1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093],
            dtype='int64'),
 480: Int64Index([1094, 1095], dtype='int64'),
 483: Int64Index([1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106,
             1107, 1108, 1109, 1110],
            dtype='int64'),
 485: Int64Index([1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121,
             1122],
            dtype='int64'),
 486: Int64Index([1123, 1124], dtype='int64'),
 489: Int64Index([1125, 1126, 1127, 1128], dtype='int64'),
 490: Int64Index([1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139,
             1140, 1141, 1142, 1143, 1144, 1145],
            dtype='int64'),
 492: Int64Index([1146], dtype='int64'),
 493: Int64Index([1147], dtype='int64'),
 495: Int64Index([1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158,
             1159, 1160, 1161],
            dtype='int64'),
 498: Int64Index([1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170], dtype='int64'),
 502: Int64Index([1171, 1172, 1173, 1174, 1175, 1176], dtype='int64'),
 506: Int64Index([1177, 1178], dtype='int64'),
 508: Int64Index([1179, 1180, 1181], dtype='int64'),
 509: Int64Index([1182, 1183], dtype='int64'),
 510: Int64Index([1184, 1185, 1186], dtype='int64'),
 512: Int64Index([1187, 1188, 1189, 1190], dtype='int64'),
 515: Int64Index([1191, 1192], dtype='int64'),
 518: Int64Index([1193, 1194], dtype='int64'),
 520: Int64Index([1195, 1196, 1197, 1198], dtype='int64'),
 523: Int64Index([1199, 1200, 1201, 1202, 1203, 1204, 1205], dtype='int64'),
 525: Int64Index([1206, 1207, 1208, 1209], dtype='int64'),
 526: Int64Index([1210, 1211], dtype='int64'),
 527: Int64Index([1212, 1213], dtype='int64'),
 528: Int64Index([1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224,
             1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235,
             1236],
            dtype='int64'),
 529: Int64Index([1237, 1238], dtype='int64'),
 530: Int64Index([1239, 1240], dtype='int64'),
 532: Int64Index([1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249], dtype='int64'),
 533: Int64Index([1250, 1251, 1252, 1253], dtype='int64'),
 535: Int64Index([1254, 1255], dtype='int64'),
 536: Int64Index([1256], dtype='int64'),
 537: Int64Index([1257, 1258, 1259, 1260], dtype='int64'),
 539: Int64Index([1261, 1262], dtype='int64'),
 541: Int64Index([1263], dtype='int64'),
 543: Int64Index([1264, 1265], dtype='int64'),
 544: Int64Index([1266], dtype='int64'),
 545: Int64Index([1267, 1268], dtype='int64'),
 546: Int64Index([1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279,
             1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290,
             1291, 1292, 1293, 1294, 1295],
            dtype='int64'),
 547: Int64Index([1296, 1297], dtype='int64'),
 548: Int64Index([1298, 1299], dtype='int64'),
 552: Int64Index([1300, 1301, 1302], dtype='int64'),
 555: Int64Index([1303, 1304, 1305, 1306, 1307, 1308], dtype='int64'),
 557: Int64Index([1309, 1310], dtype='int64'),
 559: Int64Index([1311, 1312], dtype='int64'),
 560: Int64Index([1313], dtype='int64'),
 561: Int64Index([1314, 1315], dtype='int64'),
 564: Int64Index([1316, 1317, 1318], dtype='int64'),
 568: Int64Index([1319], dtype='int64'),
 571: Int64Index([1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328], dtype='int64'),
 572: Int64Index([1329, 1330], dtype='int64'),
 573: Int64Index([1331, 1332, 1333, 1334, 1335, 1336], dtype='int64'),
 575: Int64Index([1337], dtype='int64'),
 579: Int64Index([1338], dtype='int64'),
 582: Int64Index([1339, 1340], dtype='int64'),
 586: Int64Index([1341, 1342], dtype='int64'),
 587: Int64Index([1343], dtype='int64'),
 588: Int64Index([1344, 1345], dtype='int64'),
 590: Int64Index([1346, 1347, 1348, 1349, 1350, 1351, 1352], dtype='int64'),
 591: Int64Index([1353, 1354, 1355, 1356], dtype='int64'),
 595: Int64Index([1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367,
             1368, 1369, 1370, 1371, 1372],
            dtype='int64'),
 596: Int64Index([1373, 1374, 1375, 1376], dtype='int64'),
 597: Int64Index([1377, 1378], dtype='int64'),
 598: Int64Index([1379], dtype='int64'),
 599: Int64Index([1380, 1381, 1382], dtype='int64'),
 600: Int64Index([1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393,
             1394, 1395, 1396],
            dtype='int64'),
 601: Int64Index([1397, 1398], dtype='int64'),
 602: Int64Index([1399, 1400], dtype='int64'),
 603: Int64Index([1401], dtype='int64'),
 606: Int64Index([1402, 1403], dtype='int64'),
 607: Int64Index([1404, 1405, 1406, 1407], dtype='int64'),
 608: Int64Index([1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418,
             1419],
            dtype='int64'),
 609: Int64Index([1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430,
             1431],
            dtype='int64'),
 610: Int64Index([1432], dtype='int64'),
 611: Int64Index([1433], dtype='int64'),
 612: Int64Index([1434, 1435, 1436], dtype='int64'),
 616: Int64Index([1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445], dtype='int64'),
 617: Int64Index([1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456,
             1457, 1458],
            dtype='int64'),
 618: Int64Index([1459], dtype='int64'),
 622: Int64Index([1460], dtype='int64'),
 623: Int64Index([1461], dtype='int64'),
 624: Int64Index([1462, 1463, 1464], dtype='int64'),
 625: Int64Index([1465], dtype='int64'),
 632: Int64Index([1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476,
             1477, 1478, 1479, 1480, 1481, 1482],
            dtype='int64'),
 633: Int64Index([1483, 1484, 1485], dtype='int64'),
 634: Int64Index([1486], dtype='int64'),
 635: Int64Index([1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497,
             1498, 1499],
            dtype='int64'),
 636: Int64Index([1500, 1501, 1502, 1503], dtype='int64'),
 637: Int64Index([1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511], dtype='int64'),
 641: Int64Index([1512, 1513], dtype='int64'),
 642: Int64Index([1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523], dtype='int64'),
 643: Int64Index([1524], dtype='int64'),

In [114]:
df_groups = df.groupby(df['VisitNumber']).groups
data = []
for visit_id, ids in df_groups.items():
    #print(dept_desc)
    returns = 0
    purchases = 0
    for idx in ids:
        if df.loc[idx]['ScanCount'] < 0:
            returns += df.loc[idx]['ScanCount']
        else:
            purchases += df.loc[idx]['ScanCount']
    data.append({"VisitNumber":visit_id, "VisitNumReturns":returns, "VisitNumPurchases":purchases})

In [115]:
df2 = pd.DataFrame(data)
df2['VisitNumReturns'] = abs(df2['VisitNumReturns'])
df2.head()

   VisitNumPurchases  VisitNumReturns  VisitNumber
0                  4                0            1
1                  4                0            2
2                  1                1            3
3                  1                0            4
4                  1                1            6

In [116]:
df = df.merge(df2, how='left')
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount,NumPurchases,NumReturns,VisitNumPurchases,VisitNumReturns
0,1,4,7.250339e+10,1,SHOES,3002.0,464,4,6131,292,4,0
1,1,4,1.707711e+09,1,DAIRY,1526.0,108,4,52272,415,4,0
2,1,4,8.947000e+10,1,DAIRY,1431.0,108,4,52272,415,4,0
3,1,4,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4,92757,874,4,0
4,2,4,2.840015e+09,1,DSD GROCERY,4408.0,362,3,81199,848,4,0

<h3>Min, max, mean number of products for a DepartmentDescription</h3>

In [117]:
df_groups = df.groupby(df['DepartmentDescription']).groups
data = []
for dept_desc, ids in df_groups.items():
    data.append({"DepartmentDescription":dept_desc, "MinD":min(df['FLCount']), "MaxD":max(df['FLCount']), "MeanD": np.mean(df['FLCount'])})

In [118]:
df2 = pd.DataFrame(data)
df = df.merge(df2, how='left')
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount,NumPurchases,NumReturns,VisitNumPurchases,VisitNumReturns,MaxD,MeanD,MinD
0,1,4,7.250339e+10,1,SHOES,3002.0,464,4,6131,292,4,0,966,258.847552,1
1,1,4,1.707711e+09,1,DAIRY,1526.0,108,4,52272,415,4,0,966,258.847552,1
2,1,4,8.947000e+10,1,DAIRY,1431.0,108,4,52272,415,4,0,966,258.847552,1
3,1,4,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4,92757,874,4,0,966,258.847552,1
4,2,4,2.840015e+09,1,DSD GROCERY,4408.0,362,3,81199,848,4,0,966,258.847552,1

<h3>Min, max, mean number of products for a VisitNumber</h3>

In [119]:
df_groups = df.groupby(df['DepartmentDescription']).groups
data = []
for dept_desc, ids in df_groups.items():
    data.append({"DepartmentDescription":dept_desc, "MinV":min(df['VisitFLCount']), "MaxV":max(df['VisitFLCount']), "MeanV": np.mean(df['VisitFLCount'])})

In [120]:
df2 = pd.DataFrame(data)
df = df.merge(df2, how='left')
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount,NumPurchases,NumReturns,VisitNumPurchases,VisitNumReturns,MaxD,MeanD,MinD,MaxV,MeanV,MinV
0,1,4,7.250339e+10,1,SHOES,3002.0,464,4,6131,292,4,0,966,258.847552,1,120,15.171227,1
1,1,4,1.707711e+09,1,DAIRY,1526.0,108,4,52272,415,4,0,966,258.847552,1,120,15.171227,1
2,1,4,8.947000e+10,1,DAIRY,1431.0,108,4,52272,415,4,0,966,258.847552,1,120,15.171227,1
3,1,4,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4,92757,874,4,0,966,258.847552,1,120,15.171227,1
4,2,4,2.840015e+09,1,DSD GROCERY,4408.0,362,3,81199,848,4,0,966,258.847552,1,120,15.171227,1

<h3>Count how many items belonging to each department description are bought in each trip</h3>

In [121]:
departments = df.groupby(df['DepartmentDescription']).groups
departments.keys()

dict_keys(['1-HR PHOTO', 'ACCESSORIES', 'AUTOMOTIVE', 'BAKERY', 'BATH AND SHOWER', 'BEAUTY', 'BEDDING', 'BOOKS AND MAGAZINES', 'BOYS WEAR', 'BRAS & SHAPEWEAR', 'CAMERAS AND SUPPLIES', 'CANDY, TOBACCO, COOKIES', 'CELEBRATION', 'COMM BREAD', 'CONCEPT STORES', 'COOK AND DINE', 'DAIRY', 'DSD GROCERY', 'ELECTRONICS', 'FABRICS AND CRAFTS', 'FINANCIAL SERVICES', 'FROZEN FOODS', 'FURNITURE', 'GIRLS WEAR, 4-6X  AND 7-14', 'GROCERY DRY GOODS', 'HARDWARE', 'HOME DECOR', 'HOME MANAGEMENT', 'HORTICULTURE AND ACCESS', 'HOUSEHOLD CHEMICALS/SUPP', 'HOUSEHOLD PAPER GOODS', 'IMPULSE MERCHANDISE', 'INFANT APPAREL', 'INFANT CONSUMABLE HARDLINES', 'JEWELRY AND SUNGLASSES', 'LADIES SOCKS', 'LADIESWEAR', 'LARGE HOUSEHOLD GOODS', 'LAWN AND GARDEN', 'LIQUOR,WINE,BEER', 'MEAT - FRESH & FROZEN', 'MEDIA AND GAMING', 'MENS WEAR', 'MENSWEAR', 'OFFICE SUPPLIES', 'OPTICAL - FRAMES', 'OPTICAL - LENSES', 'OTHER DEPARTMENTS', 'PAINT AND ACCESSORIES', 'PERSONAL CARE', 'PETS AND SUPPLIES', 'PHARMACY OTC', 'PHARMACY RX', 'PLAYERS AND ELECTRONICS', 'PLUS AND MATERNITY', 'PRE PACKED DELI', 'PRODUCE', 'SEAFOOD', 'SEASONAL', 'SERVICE DELI', 'SHEER HOSIERY', 'SHOES', 'SLEEPWEAR/FOUNDATIONS', 'SPORTING GOODS', 'SWIMWEAR/OUTERWEAR', 'TOYS', 'WIRELESS'])

In [122]:
visits_by_group = df.groupby(['VisitNumber','DepartmentDescription']).groups
unq_fl = df.groupby(['VisitNumber','DepartmentDescription'])['FinelineNumber'].nunique()
data = []
for group, ids in visits_by_group.items():
    #print(group[1])
    dept = group[1]
    rept_dept = "REPT_ITEMS_"+dept
    ret_dept = "RETURN_"+dept
    returns = 0
    purchases = 0
    repeats = 0
    for idx in ids:
        if df.loc[idx]['ScanCount'] < 0:
            returns += abs(df.loc[idx]['ScanCount'])
        else:
            purchases += df.loc[idx]['ScanCount']
    if purchases == 0:
        repeats = 0
    else:
        repeats = (purchases-unq_fl[group])
    data.append({"VisitNumber":group[0], dept:purchases, rept_dept:repeats, ret_dept:returns})
    #print(data)

In [123]:
print(data[:5])
len(data)

[{'VisitNumber': 1, 'DAIRY': 2, 'REPT_ITEMS_DAIRY': 0, 'RETURN_DAIRY': 0}, {'VisitNumber': 1, 'GROCERY DRY GOODS': 1, 'REPT_ITEMS_GROCERY DRY GOODS': 0, 'RETURN_GROCERY DRY GOODS': 0}, {'VisitNumber': 1, 'SHOES': 1, 'REPT_ITEMS_SHOES': 0, 'RETURN_SHOES': 0}, {'VisitNumber': 2, 'BAKERY': 1, 'REPT_ITEMS_BAKERY': 0, 'RETURN_BAKERY': 0}, {'VisitNumber': 2, 'DSD GROCERY': 1, 'REPT_ITEMS_DSD GROCERY': 0, 'RETURN_DSD GROCERY': 0}]

322806

In [124]:
#df = df.drop(columns=feature_names)
print(df.columns)

Index(['VisitNumber', 'Weekday', 'Upc', 'ScanCount', 'DepartmentDescription',
       'FinelineNumber', 'FLCount', 'VisitFLCount', 'NumPurchases',
       'NumReturns', 'VisitNumPurchases', 'VisitNumReturns', 'MaxD', 'MeanD',
       'MinD', 'MaxV', 'MeanV', 'MinV'],
      dtype='object')

In [125]:
#print("REPT_ITEMS_"+list(df_groups_train.keys())[0])
feature_names = [d for d in list(df_groups_train.keys())]
feature_names.extend(["REPT_ITEMS_"+d for d in list(df_groups_train.keys())])
feature_names.extend(["RETURN_"+d for d in list(df_groups_train.keys())])
feature_names.append("VisitNumber")
print(len(feature_names))
df2 = pd.DataFrame(columns=feature_names).set_index("VisitNumber")
df2 = df2.from_records(data, columns=feature_names).fillna(0).set_index("VisitNumber")
df2 = df2.groupby("VisitNumber").sum()
df2.head()

205

,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,BOYS WEAR,BRAS & SHAPEWEAR,...,RETURN_SEAFOOD,RETURN_SEASONAL,RETURN_SERVICE DELI,RETURN_SHEER HOSIERY,RETURN_SHOES,RETURN_SLEEPWEAR/FOUNDATIONS,RETURN_SPORTING GOODS,RETURN_SWIMWEAR/OUTERWEAR,RETURN_TOYS,RETURN_WIRELESS
VisitNumber,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
df["VisitNumber"].nunique()

95674

In [127]:
df = df.join(df2, on='VisitNumber', how='left')
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount,NumPurchases,NumReturns,...,RETURN_SEAFOOD,RETURN_SEASONAL,RETURN_SERVICE DELI,RETURN_SHEER HOSIERY,RETURN_SHOES,RETURN_SLEEPWEAR/FOUNDATIONS,RETURN_SPORTING GOODS,RETURN_SWIMWEAR/OUTERWEAR,RETURN_TOYS,RETURN_WIRELESS
0,1,4,7.250339e+10,1,SHOES,3002.0,464,4,6131,292,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,4,1.707711e+09,1,DAIRY,1526.0,108,4,52272,415,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,4,8.947000e+10,1,DAIRY,1431.0,108,4,52272,415,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,4,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4,92757,874,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,4,2.840015e+09,1,DSD GROCERY,4408.0,362,3,81199,848,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [128]:
df_groups = df.groupby(df['VisitNumber']).groups
data = []
for visit, ids in df_groups.items():
    #print(dept_desc)
    flist = []
    for idx in ids:
        flist.append(df.loc[idx]['FLCount'])
    data.append({"VisitNumber":visit, "MinFLCount":np.min(flist), "MaxFLCount":np.max(flist), "StdFLCount":np.std(flist) })

In [129]:
data[:5]

[{'MaxFLCount': 464,
  'MinFLCount': 108,
  'StdFLCount': 164.17273677441088,
  'VisitNumber': 1},
 {'MaxFLCount': 362,
  'MinFLCount': 93,
  'StdFLCount': 111.26629094204587,
  'VisitNumber': 2},
 {'MaxFLCount': 305, 'MinFLCount': 305, 'StdFLCount': 0.0, 'VisitNumber': 3},
 {'MaxFLCount': 340, 'MinFLCount': 340, 'StdFLCount': 0.0, 'VisitNumber': 4},
 {'MaxFLCount': 179, 'MinFLCount': 179, 'StdFLCount': 0.0, 'VisitNumber': 6}]

In [130]:
df2 = pd.DataFrame(data).fillna(0).set_index("VisitNumber")
df = df.join(df2, on='VisitNumber', how='left')
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount,NumPurchases,NumReturns,...,RETURN_SHEER HOSIERY,RETURN_SHOES,RETURN_SLEEPWEAR/FOUNDATIONS,RETURN_SPORTING GOODS,RETURN_SWIMWEAR/OUTERWEAR,RETURN_TOYS,RETURN_WIRELESS,MaxFLCount,MinFLCount,StdFLCount
0,1,4,7.250339e+10,1,SHOES,3002.0,464,4,6131,292,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464,108,164.172737
1,1,4,1.707711e+09,1,DAIRY,1526.0,108,4,52272,415,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464,108,164.172737
2,1,4,8.947000e+10,1,DAIRY,1431.0,108,4,52272,415,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464,108,164.172737
3,1,4,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4,92757,874,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,464,108,164.172737
4,2,4,2.840015e+09,1,DSD GROCERY,4408.0,362,3,81199,848,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,362,93,111.266291

<h3>Top 200 frequent UPC and Fineline numbers featuers</h3>

In [131]:
data = []
for visit, ids in df_groups.items():
    for idx in ids:
        upc_count = 0
        fl_count = 0
        if df.loc[idx]['Upc'] in freq_upc:
            upc_count = 1
            feat1 = "UPC_"+str(df.loc[idx]['Upc'])
            feat2 = "INDICATOR_UPC_"+str(df.loc[idx]['Upc'])
            data.append({"VisitNumber":visit, feat1:upc_count, feat2:1})
        if df.loc[idx]['FinelineNumber'] in freq_fineline:
            fl_count = 1
            feat1 = "FL_"+str(df.loc[idx]['FinelineNumber'])
            feat2 = "INDICATOR_FL_"+str(df.loc[idx]['FinelineNumber'])
            data.append({"VisitNumber":visit, feat1:fl_count, feat2:1})

In [132]:
data[:5]

[{'FL_3555.0': 1, 'INDICATOR_FL_3555.0': 1, 'VisitNumber': 1},
 {'FL_8023.0': 1, 'INDICATOR_FL_8023.0': 1, 'VisitNumber': 2},
 {'FL_8023.0': 1, 'INDICATOR_FL_8023.0': 1, 'VisitNumber': 2},
 {'FL_4606.0': 1, 'INDICATOR_FL_4606.0': 1, 'VisitNumber': 13},
 {'FL_3658.0': 1, 'INDICATOR_FL_3658.0': 1, 'VisitNumber': 14}]

In [133]:
df2 = pd.DataFrame(data).fillna(0).set_index("VisitNumber")
indicators = ["INDICATOR_FL_"+str(fl) for fl in freq_fineline]
indicators.extend(["INDICATOR_UPC_"+str(upc) for upc in freq_upc])
df3 = df2.groupby("VisitNumber").sum()
df3[indicators] = df3[indicators].astype(bool).astype(int)
df3 = df3.fillna(0)
df3.head()

,FL_0.0,FL_100.0,FL_1000.0,FL_1001.0,FL_1006.0,FL_1008.0,FL_1026.0,FL_103.0,FL_104.0,FL_109.0,...,UPC_7874298393.0,UPC_7874298761.0,UPC_7976503128.0,UPC_8265750406.0,UPC_83032400641.0,UPC_87458603436.0,UPC_88828940068.0,UPC_9506.0,UPC_9518801128.0,UPC_980012301.0
VisitNumber,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [134]:
df = df.join(df3, on='VisitNumber', how='left')
df = df.fillna(0)
df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,FLCount,VisitFLCount,NumPurchases,NumReturns,...,UPC_7874298393.0,UPC_7874298761.0,UPC_7976503128.0,UPC_8265750406.0,UPC_83032400641.0,UPC_87458603436.0,UPC_88828940068.0,UPC_9506.0,UPC_9518801128.0,UPC_980012301.0
0,1,4,7.250339e+10,1,SHOES,3002.0,464,4,6131,292,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,4,1.707711e+09,1,DAIRY,1526.0,108,4,52272,415,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,4,8.947000e+10,1,DAIRY,1431.0,108,4,52272,415,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,4,8.849121e+10,1,GROCERY DRY GOODS,3555.0,403,4,92757,874,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,4,2.840015e+09,1,DSD GROCERY,4408.0,362,3,81199,848,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [135]:
#df[df['VisitNumber'] == 8]['StdFLCount']

In [136]:
df2 = df.groupby("VisitNumber").mean()

In [137]:

#df[df['VisitNumber'] == 8].to_csv('check.csv')

In [138]:
df_final = df.groupby("VisitNumber").mean()
df_final.head()

,Weekday,Upc,ScanCount,FinelineNumber,FLCount,VisitFLCount,NumPurchases,NumReturns,VisitNumPurchases,VisitNumReturns,...,UPC_7874298393.0,UPC_7874298761.0,UPC_7976503128.0,UPC_8265750406.0,UPC_83032400641.0,UPC_87458603436.0,UPC_88828940068.0,UPC_9506.0,UPC_9518801128.0,UPC_980012301.0
VisitNumber,,,,,,,,,,,,,,,,,,,,,
1,4.0,6.304308e+10,1.0,2378.50,270.75,4.0,50858.0,499.00,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,4.640786e+10,1.0,6368.25,169.75,3.0,38357.0,489.75,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,7.410811e+09,0.0,4504.00,305.00,1.0,44976.0,813.00,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,7.287926e+09,1.0,5924.00,340.00,1.0,5992.0,272.00,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4.0,7.603139e+09,0.0,654.00,179.00,1.0,3952.0,167.00,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h3>Convert to CSV</h3>

In [139]:
df_final.isnull().sum()

Weekday                    0
Upc                        0
ScanCount                  0
FinelineNumber             0
FLCount                    0
VisitFLCount               0
NumPurchases               0
NumReturns                 0
VisitNumPurchases          0
VisitNumReturns            0
MaxD                       0
MeanD                      0
MinD                       0
MaxV                       0
MeanV                      0
MinV                       0
1-HR PHOTO                 0
ACCESSORIES                0
AUTOMOTIVE                 0
BAKERY                     0
BATH AND SHOWER            0
BEAUTY                     0
BEDDING                    0
BOOKS AND MAGAZINES        0
BOYS WEAR                  0
BRAS & SHAPEWEAR           0
CAMERAS AND SUPPLIES       0
CANDY, TOBACCO, COOKIES    0
CELEBRATION                0
COMM BREAD                 0
                          ..
UPC_7874203951.0           0
UPC_7874203952.0           0
UPC_7874204025.0           0
UPC_7874204026.0           0
UPC_7874205776.0           0
UPC_7874209728.0           0
UPC_7874211433.0           0
UPC_7874222375.0           0
UPC_7874222803.0           0
UPC_7874222953.0           0
UPC_7874235186.0           0
UPC_7874235187.0           0
UPC_7874235188.0           0
UPC_7874235191.0           0
UPC_7874235192.0           0
UPC_7874235193.0           0
UPC_7874235200.0           0
UPC_7874235201.0           0
UPC_7874235202.0           0
UPC_7874235296.0           0
UPC_7874298393.0           0
UPC_7874298761.0           0
UPC_7976503128.0           0
UPC_8265750406.0           0
UPC_83032400641.0          0
UPC_87458603436.0          0
UPC_88828940068.0          0
UPC_9506.0                 0
UPC_9518801128.0           0
UPC_980012301.0            0
Length: 1023, dtype: int64

In [140]:
df_final.to_csv(processed_fname)

In [141]:
print(processed_fname)

data/processed_data/processed_test.csv